
          
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nom</th>
                  <th >Prénom</th>
                  <th>Numéro de téléphone</th>
                  <th>Adresse</th>
                  <th >Adresse mail</th>
                  <th >Departement</th>   
                  <th >Supprimer</th> 
                  <th>Modifier</th>              
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let technicien of techniciens">
                    <td>{{technicien.id}}</td>
                    <td>{{technicien.nom}}</td>
                    <td>{{technicien.prenom}}</td>
                    <td>{{technicien.numeroTelephone}}</td>
                    <td>{{technicien.adresse}}</td>
                    <td>{{technicien.email}}</td>
                    <td>{{technicien.departement}}</td>
                    <td><button (click)="deleteTechniciens(technicien)" class="btn btn-danger">Supprimer</button></td>
                    <td><button (click)="updateTechnicien(technicien)" class="btn btn-warning">Modifier</button></td>
                    
                  </tr>
                
              </tbody>
            
            </table>
            <button (click)="AddTechnicien()" class="btn btn-warning">Ajouter un technicien</button>


