<section id="main-content">
    <section class="wrapper">
    
    
    <h4 style="color: #337ab7;"><i class="fa fa-angle-right"></i> Liste des incidents </h4>
    <hr>
    <section class="wrapper" id="themes" style="margin-top:2px;margin-bottom:10px;">
          <div class="container">
            <div class="row">
                <div class="col-sm-4" style="width:700px;height:230;" >
                    <div class="thumbnail" style="background-color: #a7cdee;" *ngFor="let incident of incidents">
                      
                      <div class="caption">
                        <h3> Sujet : {{incident.sujet}}   </h3> <h3>   Description : {{ incident.description}}</h3>
                        
                        <h3> Date d'ouverture : {{incident.dateOuverture | date }}    </h3> <h3>        Utilisateur : {{ incident.idUtilisateur.prenom}} {{ incident.idUtilisateur.nom}}</h3>
                        <h3> Approbateur : {{ incident.idApprobateur.prenom}} {{ incident.idApprobateur.nom}} </h3>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
         
    </section>
    </section>
</section>

