<section id="main-content">
    <section class="wrapper">
  <div class="main-content">
      <div class="container-fluid">
        <div class="container-fluid">
            <div class="row" >
              <div class="col-sm-4" style="width:300px;height:230;" *ngFor="let tache of taches">
                <div class="thumbnail" style="background-color: #a7cdee;">
                  
                  <div class="caption">
                    <h3>{{tache.numero}} </h3>
                    <h3>{{tache.statut}}</h3>
                    <p>{{tache.details}} </p>
                    <p> <button class="btn btn-success" (click)="Resolu(tache)" *ngIf="!estResolu(tache)">Resolu</button></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
    </section>
</section>

