
 <section id="main-content">
    <section class="wrapper">
    
    
    <h4 style="color: #337ab7;"><i class="fa fa-angle-right"></i> Accueil</h4>
    <h4 style="color: #337ab7;"><i class="fa fa-angle-right"></i> Quelques statistiques sur les tickets </h4>
    <hr>
    <section class="wrapper" id="themes" style="margin-top:2px;margin-bottom:10px;">
          <div class="container">
       
        <div class="row">
            <div class="col-sm-4" style="width:300px;height:230;" >
                <div class="thumbnail" style="background-color: #a7cdee;">
                  
                  <div class="caption">
                    <h3>{{nombreIncidents}}</h3>
                    <p> Nombre des tickets d'incident</p>
                   
                  </div>
                </div>
              </div>
              <div class="col-sm-4" style="width:300px;height:230;" >
                <div class="thumbnail" style="background-color: #a7cdee;">
                  
                  <div class="caption">
                    <h3>{{nombreProblemes}}</h3>
                    <p> Nombre des tickets de problème</p>
                   
                  </div>
                </div>
              </div>
              <div class="col-sm-4" style="width:300px;height:230;" >
                <div class="thumbnail" style="background-color: #a7cdee;">
                  
                  <div class="caption">
                    <h3>{{nombreServices}}</h3>
                    <p> Nombre des tickets de service</p>
                   
                  </div>
                </div>
              </div>
        </div>
          </div>
    </section>

    <h4 style="color: #337ab7;"><i class="fa fa-angle-right"></i> Quelques statistiques sur les profils </h4>
    <hr>

    <section class="wrapper" id="themes" style="margin-top:2px;margin-bottom:10px;">
        <div class="container">
     
      <div class="row">
          <div class="col-sm-4" style="width:300px;height:230;" >
              <div class="thumbnail" style="background-color: #a7cdee;">
                
                <div class="caption">
                  <h3>{{nombreUtilisateurs}}</h3>
                  <p> Nombre des utilisateurs</p>
                 
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="width:300px;height:230;" >
              <div class="thumbnail" style="background-color: #a7cdee;">
                
                <div class="caption">
                  <h3>{{nombreAdmins}}</h3>
                  <p> Nombre des administrateurs</p>
                 
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="width:300px;height:230;" >
              <div class="thumbnail" style="background-color: #a7cdee;">
                
                <div class="caption">
                  <h3>{{nombreTechniciens}}</h3>
                  <p> Nombre des techniciens</p>
                 
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="width:300px;height:230;" >
                <div class="thumbnail" style="background-color: #a7cdee;">
                  
                  <div class="caption">
                    <h3>{{nombreApprobateurs}}</h3>
                    <p> Nombre des approbateurs</p>
                   
                  </div>
                </div>
              </div>
      </div>
        </div>
  </section>
    </section>
 </section>
