<section id="main-content">
    <section class="wrapper">
  <div class="main-content">
      <div class="container-fluid">
        <div class="row" style="height:relative;width:relative" >
            <section class="wrapper" id="themes" style="margin-top:2px;margin-bottom:10px;">
              <div class="container">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4 style="color: #337ab7;"><i class="fa fa-angle-right"></i>Liste des utilisateurs</h4>
                    <app-gerer-users></app-gerer-users>
                  </div>
                </div>
              </div>
              </div>
            </section>
        </div>
      </div>
      </div>
      <div class="main-content">
        <div class="container-fluid">
          <div class="row" style="height:relative;width:relative" >
              <section class="wrapper" id="themes" style="margin-top:2px;margin-bottom:10px;">
                <div class="container">
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header">
                      <h4 style="color: #337ab7;"><i class="fa fa-angle-right"></i>Liste des administrateurs</h4>
                      <app-gerer-admins></app-gerer-admins>
                    </div>
                  </div>
                </div>
                </div>
              </section>
          </div>
        </div>
        </div>
        <div class="main-content">
            <div class="container-fluid">
              <div class="row" style="height:relative;width:relative" >
                  <section class="wrapper" id="themes" style="margin-top:2px;margin-bottom:10px;">
                    <div class="container">
                    <div class="col-lg-6">
                      <div class="card">
                        <div class="card-header">
                          <h4 style="color: #337ab7;"><i class="fa fa-angle-right"></i>Liste des approbateurs</h4>
                          <app-gerer-approbateurs></app-gerer-approbateurs>
                        </div>
                      </div>
                    </div>
                    </div>
                  </section>
              </div>
            </div>
            </div>
            <div class="main-content">
                <div class="container-fluid">
                  <div class="row" style="height:relative;width:relative" >
                      <section class="wrapper" id="themes" style="margin-top:2px;margin-bottom:10px;">
                        <div class="container">
                        <div class="col-lg-6">
                          <div class="card">
                            <div class="card-header">
                              <h4 style="color: #337ab7;"><i class="fa fa-angle-right"></i>Liste des techniciens</h4>
                              <app-gerer-techniciens></app-gerer-techniciens>
                            </div>
                          </div>
                        </div>
                        </div>
                      </section>
                  </div>
                </div>
                </div>
    </section>
</section>
