<section id="main-content">
    <section class="wrapper">
  <div class="main-content">
      <div class="container-fluid">
        <div class="container-fluid">
            <div class="row" >
              <div class="col-sm-4" style="width:300px;height:230;" *ngFor="let technicien of techniciens">
                <div class="thumbnail" style="background-color: #a7cdee;">
                  
                  <div class="caption">
                    <h3>{{technicien.nom}} {{technicien.prenom}}</h3>
                   
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
    </section>
</section>
