<section id="main-content">
    <section class="wrapper">
      <h3 style="color: #337ab7;"><i class="fa fa-angle-right"></i> Modifier les données d'un incident:</h3>
      <div class="row mt">
       
        <div class="col-lg-12">
          <div class="form-panel">

      <!--<h4 class="page-header">Default Implementation</h4>-->  
        <form [formGroup]="updateTicketForm" (ngSubmit)="onUpdateIncident()">
           
    

            <div class="form-group">
               <p></p>
                <label class="control-label col-md-3">Le sujet du ticket</label>
                <div class="col-md-3 col-xs-11">                    
                    <input class=" form-control" type="text" [(ngModel)] = "_sujet" formControlName="sujet" >
                                                          
                </div>
              </div>
              
              <div class="form-group">
                 <p></p>
                <label class="control-label col-md-3">La description de l'incident</label>
                <div class="col-md-3 col-xs-11">                    
                    <input class=" form-control"  type="text" [(ngModel)] = "_description" formControlName="description">
                                                          
                </div>
              </div>
              

              <div class="form-group">
                  <p></p>
                <label class="control-label col-md-3">La cause de l'incident</label>
                <div class="col-md-3 col-xs-11">                    
                    <input class=" form-control" type="text"  [(ngModel)] = "_cause" formControlName="cause"  >
                                                          
                </div>
              </div>
              <div class="form-group">
                  <p></p>
                <label class="control-label col-md-3">Ajouter des mots clés </label>
                <div class="col-md-3 col-xs-11">                    
                    <input class=" form-control" type="text" [(ngModel)] = "_motCle" formControlName="motCle"  >
                    <div  style="color: rgb(28, 28, 107);">Entrez les mots clés dans cette format: mot1/mot2/.... </div>                                   
                </div>
              </div>

              <div class="form-group">
                  <p></p>
                <label class="control-label col-md-3">Impact</label>
                <div class="col-md-3 col-xs-11">                    
                    <select  class="btn btn-default" [(ngModel)] = "_impact" formControlName="impact" >
                      <option>Fort</option>
                      <option>Moyen</option>
                      <option>Faible</option>
                    </select>
                                                         
                </div>
              </div>
              <div class="form-group">
                <p></p>
                <label class="control-label col-md-3">Urgence</label>
                <div class="col-md-3 col-xs-11">                    
                    <select  class="btn btn-default" formControlName="urgence" [(ngModel)] = "_urgence">
                      <option>Fort</option>
                      <option>Moyen</option>
                      <option>Faible</option>
                    </select>
                                                         
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary" >Approuver</button>
                </div>
              </div>


        </form>
    </div>
</div>
      </div></section></section>

